// IN --------------------------------------------
@keyframes page-transition-in-nav {
    0%{transform: scale(1); opacity: 1;}
    80%{opacity: 0;}
    100% {transform: scale(0); opacity: 0;}
}

@keyframes page-transition-in-sidebar {
    0%{transform: translateX(0%);}
    100%{transform: translateX(-120%);}
}

@keyframes page-transition-in-slide {
    0%   {transform: translateY(0%);}
    100% {transform: translateY(100%);}
}

@keyframes page-transition-in-frame-dropdown {
    0%   {box-shadow: 0px 10px 15px 0px black;}
    100% {box-shadow: 0px 0px 0px 0px black;}
}

// OUT --------------------------------------------
@keyframes page-transition-out-nav {
    0%{transform: scale(0); opacity: 0;}
    20%{opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

@keyframes page-transition-out-sidebar {
    10%{transform: translateX(-120%);}
    100%{transform: translateX(0%);}
}

@keyframes page-transition-out-slide {
    0%{transform: translateY(100%);}
    100%{transform: translateY(0%);}
}

@keyframes page-transition-out-frame-dropdown {
    0%{box-shadow: 0px 0px 0px 0px black;}
    100%{box-shadow: 0px 10px 15px 0px black;}
}
.button-page-transition[data-state="true"] {
    animation-fill-mode: forwards;
    opacity: 0
}

.top_page__navigation[data-state="true"], .top_page__background[data-state="true"]{
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-name: page-transition-in-nav;
}
.top_page {
    .top_page__sidebar[data-state="true"] { 
        .shadow {
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-name: page-transition-in-sidebar;
        }
    }
}

.page[data-state="true"] {
       animation-fill-mode: forwards;
       animation-timing-function: ease;
       animation-duration: 0.6s;
       animation-name: page-transition-in-slide;

       .page-frame{
           animation-fill-mode: forwards;
           animation-timing-function: ease-out;
           animation-duration: 0.25s;
           animation-delay: 0.7s;
           animation-name: page-transition-in-frame-dropdown;
       }
}

//tmp reverse copy pasta

.button-page-transition[data-state="false"] {
    animation-fill-mode: forwards;
    opacity: 1;
}

.top_page__navigation[data-state="false"], .top_page__background[data-state="false"]{
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-name: page-transition-out-nav;
}
.top_page {
    .top_page__sidebar[data-state="false"] { 
        .shadow {
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-name: page-transition-out-sidebar;
        }
    }
}

.page[data-state="false"] {
       animation-fill-mode: forwards;
       animation-timing-function: ease;
       animation-duration: 0.6s;
       animation-name: page-transition-out-slide;

       .page-frame{
           animation-fill-mode: forwards;
           animation-timing-function: ease-out;
           animation-duration: 0.25s;
           animation-delay: 0.7s;
           animation-name: page-transition-out-frame-dropdown;
       }
}