@keyframes content-slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes content-slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.page[data-state="true"] {
    $animation_delay: 0.5s;
    .row {
        .column div{
            animation-delay: $animation_delay;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
        }

        .column:nth-child(1) div {
            animation-name: content-slide-in-left;
        }
        .column:nth-child(2) div {
            animation-name: content-slide-in-right;
        }

        .column {
            div:nth-child(2){ animation-delay: calc(#{$animation_delay} + 0.03s * 2);}
            div:nth-child(3){ animation-delay: calc(#{$animation_delay} + 0.03s * 3);}
            div:nth-child(4){ animation-delay: calc(#{$animation_delay} + 0.03s * 4);}
            div:nth-child(5){ animation-delay: calc(#{$animation_delay} + 0.03s * 5);}
        }
    }
}

.page{
    .page-frame {
        .row {
            .column {
                .content-frame[data-state="open-right"]{
                    width: 800px;
                }
                
                .content-frame[data-state="open-left"]{
                    width: 800px;
                    left: -405px;
                }

                .content-frame[data-state="under-open"]{
                    margin-top: 100px;
                }
                
                .content-frame:nth-child(1)[data-state="under-open"]{
                    margin-top: 90px;
                }

                .content-frame[data-state="open-right"], .content-frame[data-state="open-left"]{
                    .content-expand-arrow::before {
                        transform: rotate(-45deg) !important;   
                    }
                    .content-expand-arrow::after {
                        transform: rotate(45deg) !important;
                    }
                }
            }
            #column-left {
                .content-frame[data-state="open"] {
                    transition: height 0.3s ease, width 0.3s 0.3s ease;
                }
                .content-frame[data-state="closed"] {
                    transition: height 0.3s 0.3s ease, width 0.3s ease;
                }
            }
            #column-right {
                .content-frame[data-state="open"] {
                    transition: height 0.3s ease, width 0.3s 0.3s ease, left 0.3s 0.3s ease;
                }
                .content-frame[data-state="closed"] {
                    transition: height 0.3s 0.3s ease, width 0.3s ease, left 0.3s ease;
                }
            }
        }
    }
}