.page {
    position: absolute;
    top: -100%;
    right: -100%;

    width: 200%;
    height: 200%;
    z-index: -1;

    .hide-scroll {
        position: absolute;
        right: 50%;
        bottom: 0%;
        height: 50%;
        width: 18px;
        background-color: $base-color-1;
    }

    .page-transition-rotation {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        transform: rotate(90deg);

    }

    .page-transition-rotation:nth-child(1) {
        .page-transition-frame {
            background-color: $base-color-2;
        }
    }
    
    .page-transition-rotation:nth-child(2) {
        .page-transition-frame {
            background-color: $base-color-3;
        }
    }

    .page-frame, .page-transition-frame {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 50%;
        height: 50%;
    }

    .page-frame {
        background-color: $base-color-1;
        overflow-y: scroll;

        * {
            box-sizing: border-box;
        }
	
        .sub-section::before {
            content: "";
            display: block;
            position: absolute;
            top:0;
            left: 0;
            width: 70%;
            height: 2px;
            background-color: $background-color;
        }

        .sub-section {
            position: relative;
            width: 800px;
            height: 50px;
            margin: 10px auto;
            text-align: center;
            font-size: 200%;
            line-height: 50px;
        }

        .sub-section::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 2px;
            background-color: $background-color;
        }
	
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0;
            width: 800px;
            margin: 0 auto;
            .column {
                flex: 50%;
                max-width: 50%;
                div {
                    position:relative;
                    top: 0;
                    left: 0;
                    
                    margin-bottom: 10px;
                    height: 350px;
                    background-color: $background-color;
                    vertical-align: middle;
                    box-shadow: 2px 2px 3px 0px black;
                }
            }
            .column:nth-child(1) {
                padding-right: 5px;
            }
            .column::nth-child(2) {
                padding-left: 5px;
            }
        }
    }
}
