/*$background-color: #171717;*/
/*$base-color-1: #e3c2b3;*/
$background-color: #111111;
$base-color-1: #e3c2b3;
$base-color-1: #ffffff;
$base-color-2: #5c433c;
$base-color-2: #888888;
$base-color-3: #e96a81;
$base-color-3: #cccccc;
$top-page-index: 1;

@font-face {
	font-family: 'terminess';
	src: url('/fonts/terminess-webfont.woff2') /*format('woff2')*/;
	src: url('/fonts/terminess-webfont.woff') /*format('woff')*/;
	font-weight: normal;
	font-style: normal;
}

html, body {
    top: 0;
    left: 0;
    display: block;
    padding: 0;
    margin: 0;
    background-color: $base-color-1;
    font-family: 'terminess'
}

//does not work for firefox?
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


main {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
}



/* Static */
@import 'welcome';
@import 'top_page';
@import 'top_page-frame';
@import 'top_page-sidebar';
@import 'top_page-navigation';
@import 'top_page-background';
@import 'page';

/* Animations */
@import 'animations/welcome-animations';
@import 'animations/top_page-animations';
@import 'animations/top_page-background-animations';
@import 'animations/button-page-transition';
@import 'animations/page-animations';
